<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-sm-0 mb-9">
     <br>
     <h2 class="text-center">旅の記録</h2>
     <br>
     <div class="text-center">
       <%= image_tag @post.image, class: "card-img-top" %>
     </div>
     <div class="text-center">
       <div class="bg-light text-black">タイトル</div><br>
       <%= @post.title %>
     </div><br />
     <div class="text-center">
       <div class="bg-light text-black">投稿日時</div><br>
       <%= @post.created_at.strftime('%Y/%m/%d') %>
     </div><br />
      <div class="text-center">
       <div class="bg-light text-black">投稿者</div><br>
       <%= link_to member_path(@post.member.id) do %>
        <%= @post.member.name %>
       <% end %>
     </div><br />
     <div class="text-center">
       <div class="bg-light text-black">旅行先</div>
     </div><br>
     <div class="text-center">
       <div class="bg-light text-black">旅の思い出</div><br />
       <%= @post.content %>
     </div><br />
     <div class="text-center">
     <% if @post.member == current_member %>
      <%= link_to "編集する", edit_post_path(@post.id), class: "btn btn-sm btn-success" %>
      <%= link_to "削除する", post_path(@post.id), method: :delete, class: "btn btn-sm btn-danger" %>
     <% end %>
     </div>
    </div>
  </div>
</div>

