<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
     <div class="title">新規会員登録</div>
     <%= form_with model: @member, url: member_registration_path do |f| %>
     <%= render "public/shared/error_messages", resource: resource %>
     <div class="form-group">
      <div class="label">ユーザーネーム(User Name)</div>
      <div class="field">
       <%= f.text_field :name %>
      </div>
      <div class="label">メールアドレス(Email)</div>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
      <div class="label">パスワード(Password)</div>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>
      <div class="label">パスワード（確認用）</div>
      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>
      <div class="col-4 offset-3"><button class="btn btn-success btn-block">新規登録</button></div>
     </div>
     <% end %>
    </div>

  </div>
</div>

<%= render "public/shared/links" %>
