<div class="container">
  <div class="row">
    <div class="mx-auto col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mb-9">
      <h2 class="text-center">ログイン</h2><br>
      <%= form_with model: @member, url: member_session_path do |f| %>
      
      <div class="field">
       <%= f.label :email %><br />
       <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "col-12" %>
      </div>
      
      <div class="field">
       <%= f.label :password %><br />
       <%= f.password_field :password, autocomplete: "current-password",class: "col-12" %> 
      </div>
      
      <% if devise_mapping.rememberable? %>
       <div class="field">
       <%= f.check_box :remember_me %>
       <%= f.label :remember_me %>
       </div>
      <% end %>
      
      <button class="btn btn-success btn-block">ログイン</button>
      <br>
      <div class="bg-light text-black">ゲストログイン</div><br />
      <%= link_to "ゲストログイン", members_guest_sign_in_path, method: :post, class: "btn btn-warning, col-12" %>
      <br />
      <div class="bg-light text-black">会員登録がお済みでない方</div><br>
      <%= link_to "こちら", new_member_registration_path %>から新規登録を行ってください。


      <% end %>
    </div>
  </div>
</div>




