<!DOCTYPE html>
<html>
  <head>
    <title>Tabilog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header>
      <nav class= "navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span><h2>Tabilog</h2></span>
          </a>
          <button class="navbar-toggler" type="button" data-toggler="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
             <% if member_signed_in? %>
             <p>ようこそ、<%= current_member.name %>さん</p>
             <li class="nav-item">
     　      　 <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/members/sign_out">
     　　        ログアウト
     　         </a>
    　     　 </li>
    　      　<% elsif admin_signed_in? %>
    　      　<li class="nav-item">
    　      　  <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/admin/sign_out">
     　  　      ログアウト
     　        </a>
    　      　</li>
    　       <% else %>
    　       <li class="nav-item">
    　        <a class="nav-link text-light" href="/about">
    　         About
    　        </a>
    　       </li>
    　       <li class="nav-item">
    　        <a class="nav-link text-light" href="<%= new_member_registration_path %>">
    　         新規登録
    　        </a>
    　       </li>
    　       <li class="nav-item">
    　        <a class="nav-link text-light" href="<%= new_member_session_path %>">
    　         ログイン
    　        </a>
    　       </li>
    　      <% end %>
           </ul>
    　    </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
